/* Import the carousel CSS here as well */
@import 'react-responsive-carousel/lib/styles/carousel.min.css';

/* Add any other global styles you need */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.carousel-image {
  width: 75%; /* Adjust width as needed (percentage or fixed value) */
  height: 75%; /* Maintain aspect ratio */
  margin: 0 auto; /* Centers the carousel horizontally */
}
.title-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.header-title {
  font-size: x-large;
  margin: 0 auto;
  padding: 5px;
}
.header-subtitle {
  margin: 0 auto;
  padding: 5px;
  font-family: fantasy;
  color: darkslategrey;
  font-size: 18px;
}